/*
button {
  background: --white;
  border-radius: 15%;
  box-shadow:  6px 6px 8px var(--shadow-dark),
              -4px -4px 8px var(--shadow-light);
}
*/

.button-actions-container {
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  margin:60px;
  text-align: center;
}

.btn{
  border-radius: 12px;
  height: 42px;
  width: 42px;
  background: var(--white);
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-shadow:  4px 4px 6px var(--shadow-dark),
                -4px -4px 6px var(--shadow-light);
  color: var(--white);
  text-decoration: none;
  border-style: none;
  text-align: center;

  .icons {
    font-size: 30px;
    color: var(--secondary)
  }

  &:active {
    box-shadow: inset 2px 2px 4px var(--shadow-dark),
                inset -2px -2px 4px var(--shadow-light);
  }
}

@keyframes colorchange {
	to {
    box-shadow: inset 3px 3px 4px var(--shadow-dark),
                inset -2px -2px 4px var(--shadow-light);
  }
}
