
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;

  h6 {
    color: var(--primary);
    font-weight: 400;
  }

  span {
    color: var(--secondary);
  }
  
}
